.Prof{
    //background-color: black;
    //font:italic;
}
.bar{
    height: 50%;
    width: 50%;
}
.icon{
    size: 100%;
}
.icon-top{
    position: relative;
    size: 3cm;
    margin-left: 5.5cm;
    width: 1.5cm;

}
.text{
    position: absolute;
}
.vide{
    margin-left: 1.8cm;
}